/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
Base styles: opinionated defaults
========================================================================== */

html {
	color: #222;
	font-size: 1em;
	line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
	background: #b3d4fc;
	text-shadow: none;
}

::selection {
	background: #b3d4fc;
	text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
	vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
	resize: vertical;
}

/* ==========================================================================
Author's custom styles
========================================================================== */

/* ==========================================================================
Helper classes
========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
	display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
	border: 0;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	white-space: nowrap;
	width: 1px;
	/* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	white-space: inherit;
	width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
	visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
	content: " ";
	display: table;
}

.clearfix::after {
	clear: both;
}

/* ==========================================================================
EXAMPLE Media Queries for Responsive Design.
These examples override the primary ('mobile first') styles.
Modify as content requires.
========================================================================== */

@media only screen and (min-width: 35em) {
	/* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
	/* Style adjustments for high resolution devices */
}

/* ==========================================================================
Print styles.
Inlined to avoid the additional HTTP request:
https://www.phpied.com/delay-loading-your-print-css/
========================================================================== */

@media print {
	*,
	*::before,
	*::after {
		background: #fff !important;
		color: #000 !important;
		/* Black prints faster */
		box-shadow: none !important;
		text-shadow: none !important;
	}

	a,
	a:visited {
		text-decoration: underline;
	}

	a[href]::after {
		content: " (" attr(href) ")";
	}

	abbr[title]::after {
		content: " (" attr(title) ")";
	}

	/*
	 * Don't show links that are fragment identifiers,
	 * or use the `javascript:` pseudo protocol
	 */
	a[href^="#"]::after,
	a[href^="javascript:"]::after {
		content: "";
	}

	pre {
		white-space: pre-wrap !important;
	}

	pre,
	blockquote {
		border: 1px solid #999;
		page-break-inside: avoid;
	}

	/*
	 * Printing Tables:
	 * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
	 */
	thead {
		display: table-header-group;
	}

	tr,
	img {
		page-break-inside: avoid;
	}

	p,
	h2,
	h3 {
		orphans: 3;
		widows: 3;
	}

	h2,
	h3 {
		page-break-after: avoid;
	}
}

/* CUSTOM */
/* ====== */
/* Main */
a {
	color: #D1A54C;
	transition: color 0.5s ease;
}

a:hover {
	color: #6A5326;
	transition: color 0.5s ease;
	text-decoration: none;
}

h2 {
	font-weight: 900;
}

.btn-primary {
	background-color: #D11A1F;
	border: none;
	color: #fff;
	padding: 0.75rem 2rem;
	transition: background-color 0.5s ease;
}

.btn-primary:hover {
	background-color: #981318;
	transition: background-color 0.5s ease;
}

#site-container {
	font-family: 'Poppins', sans-serif;
	margin-bottom: 0;
}

/* Hero */
.hero {
	background: #000;
	color: #fff;
	width: 100%;
}

.hero .inner {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 60px;
	padding-bottom: 60px;
}

.hero .logo img {
	margin-bottom: 3rem;
}

.hero .inner h2 {
	margin-bottom: 1.5rem;
}

.hero .inner p {
	margin-bottom: 1.5rem;
}

.hero .mobile-col {
	padding: 0;
	width: calc(5 * 8.333vw);
	height: auto;
	position: absolute;
}

.hero .mobile-col img {
	width: 100%;
	height: auto;
	max-width: 520px;
	position: relative;
	margin-top: -80px;
}

/* When to use */
.wtu {
	padding: 100px 0 40px;
	text-align: center;
}

.wtu .header-row {
	margin-bottom: 1.5rem;
}

.wtu .icon-row img {
	display: block;
	margin: 0 auto 1rem;
}

.wtu .icon-row .col-md-4 {
	border-right: 1px solid #919090;
}

.wtu .icon-row .col-md-4:last-child {
	border: none;
}

/* How it works */
.hiw {
	padding: 60px 0;
	background-color: #F2F2F2;
	width: 100%;
	text-align: center;
}

.hiw h2 {
	margin-bottom: 3rem;
}

.hiw .video-row iframe {
	max-width: 100%;
}

.hiw .video-row {
	margin-bottom: 3rem;
}

/* Frequently Asked Questions */
.faq {
	padding: 60px 0 0;
}

.faq h2 {
	text-align: center;
	margin-bottom: 2rem;
}

.faq .btn-link {
	color: #000;
}

.faq h5 i {
	color: #000;
}

.faq h5 {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.faq h5 button {
	width: 100%;
	text-align: left;
}

.accordion .card-header .btn:after {
    font-family: 'Font Awesome 5 Free';  
    font-weight: 900;
    content: "\f068";
    float: right; 
}
.accordion .card-header .btn.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\f067"; 
}

/* FOOTER */
.footer {
	background: #000;
	font-size: .75rem;
	padding: 20px 0;
	margin-top: 60px;
}

@media screen and (max-width: 768px) {
	.hero .mobile-col {
		display: none;
	}
	.hiw .video-row > div,
	.wtu .icon-row > div {
		margin-bottom: 3rem;
		border: none;
	}
	.wtu .icon-row .col-md-4 {
		border: none;
	}
}
